<form action="/product/edit/{{ product.id }}" method="post" class="top-buffer">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" name="name" value="{{ product.name }}" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Price</label>
            <input type="text" class="form-control" name="price" value="{{ product.price }}" placeholder="Price">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="category">Category</label>
            <select name="categoryId" class="form-control">
                {{#each categories}}
                    <option value="{{ this.id }}">{{ this.name }}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
</form>